body{ font-family: Russo One;

}
a{
  font-family:  Cormorant Unicas;
  text-decoration: none;
  font-size: 120%;
}
table{

text-align: center;  height: 500px;
  border-collapse: collapse;
}
td{
  border: 2px solid #292636;
}


.im img{
  height:250px;
width: 450px;
}
.lr img{
  height: 20px;
}
